<html>
    <head>
        <meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="styles.css"/>
        <link rel="stylesheet" type="text/css" href="responsive.css"/>
        <link href="https://cdn.jsdelivr.net/npm/quasar@2.1.0/dist/quasar.prod.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/quasar@2.1.0/dist/quasar.umd.prod.js" defer></script>
        <script src="app.js" defer></script>
    </head>
    <body>
        <div id="main-container">
            <div id="money-container">
                <div id="money-cash">
                    <transition name="slide-fade">
                        <p v-if="showCash"><span id="sign">$&nbsp;</span><span id="money">{{(cash)}}</span></p>
                    </transition>
                </div>
                <div id="money-bank">
                    <transition name="slide-fade">
                        <p v-if="showBank"><span id="sign">$&nbsp;</span><span id="bank">{{(bank)}}</span></p>
                    </transition>
                </div>
                <div id="money-change" v-if="showUpdate">
                    <p v-if="plus" id="money"><span id="plus">+&nbsp;</span><span id="money">{{(amount)}}</span></p>
                    <p v-else-if="minus" id="minus"><span id="minus">-&nbsp;</span><span id="money">{{(amount)}}</span></p>
                </div>
            </div>
            <div id="ui-container">
                <div id="playerHud" v-show="show">
                    <transition name="fade">
                    <div v-if="showVoice">
                        <q-circular-progress class="q-ml-xl" style="opacity: 40%;" :value="static" size="53px" :thickness="0.24" :style="{color: talkingColor}" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="left: -50%;" show-value :value="voice" size="53px" :thickness="0.24" :style="{color: talkingColor}" :min="0" :max="5" center-color="grey-10">
                        <q-icon style="top: -0.5px; left: 0px;" :name="voiceIcon" size="22px" :style="{color: talkingColor}"/>
                    </div>
                    </transition>
                    <transition name="fade">
                    <div v-if="showHealth">
                        <q-circular-progress class="q-ml-xl" style="opacity: 40%;" :value="static" size="53px" :thickness="0.24" :style="{color: healthColor}" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="left: -50%;" show-value :value="health" size="53px" :thickness="0.24" :style="{color: healthColor}" :min="0" :max="100" center-color="grey-10">
                        <q-icon style="top: 0.5px; left: -0.4px;" name="fas fa-heart" size="23px" color="white"/>
                    </div>
                    </transition>
                    <transition name="fade">
                    <div v-if="showArmor">
                        <q-circular-progress class="q-ml-xl" style="opacity: 40%;" :value="static" size="53px" :thickness="0.24" :style="{color: armorColor}" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="left: -50%;" show-value :value="armor" size="53px" :thickness="0.24" :style="{color: armorColor}" :min="0" :max="100" center-color="grey-10">
                        <q-icon name="fas fa-shield-alt" size="23px" color="white"/>
                    </div>
                    </transition>
                    <transition name="fade">
                    <div v-if="showHunger">
                        <q-circular-progress class="q-ml-xl" style="opacity: 40%;" :value="static" size="53px" :thickness="0.24" :style="{color: hungerColor}" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="left: -50%;" show-value :value="hunger" size="53px" :thickness="0.24" :style="{color: hungerColor}" :min="0" :max="100" center-color="grey-10">
                        <q-icon style="top: -1px; left: 0.5px;" name="fas fa-hamburger" size="22px" color="white"/>
                    </div>
                    </transition>
                    <transition name="fade">
                    <div v-if="showThirst">
                        <q-circular-progress class="q-ml-xl" style="opacity: 40%;" :value="static" size="53px" :thickness="0.24" :style="{color: thirstColor}" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="left: -50%;" show-value :value="thirst" size="53px" :thickness="0.24" :style="{color: thirstColor}" :min="0" :max="100" center-color="grey-10">
                        <q-icon style="top: -0.5px; left: -0.5px;" name="fas fa-tint" size="22px" color="white"/>
                    </div>
                    </transition>
                    <transition name="fade">
                    <div v-if="showStress">
                        <q-circular-progress class="q-ml-xl" style="opacity: 40%;" :value="static" size="53px" :thickness="0.24" color="stress" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="left: -50%;" show-value :value="stress" size="53px" :thickness="0.24" color="stress" :min="0" :max="100" center-color="grey-10">
                        <q-icon style="top: -0.5px; left: 0.4px;" name="fas fa-brain" size="22px" color="white"/>
                    </div>
                    </transition>
                    <transition name="fade">
                    <div v-if="showOxygen">
                        <q-circular-progress class="q-ml-xl" style="opacity: 40%;" :value="static" size="53px" :thickness="0.24" color="oxygen" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="left: -50%;" show-value :value="oxygen" size="53px" :thickness="0.24" color="oxygen" :min="0" :max="100" center-color="grey-10">
                        <q-icon style="top: -2px; left: -0.1px;" name="fas fa-lungs" size="19.5px" color="white"/>
                    </div>
                    </transition>
                    <transition name="fade">
                    <div v-if="showArmed">
                        <q-circular-progress class="q-ml-xl" style="opacity: 40%;" :value="static" size="53px" :thickness="0.24" color="armed" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="left: -50%;" show-value :value="static" size="53px" :thickness="0.24" color="armed" :min="0" :max="100" center-color="grey-10">
                        <q-icon name="fas fa-bars" size="22px" color="white"/>
                    </div>
                    </transition>
                    <transition name="fade">
                    <div v-if="showParachute">
                        <q-circular-progress class="q-ml-xl" style="opacity: 40%;" :value="static" size="53px" :thickness="0.24" color="parachute" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="left: -50%;" show-value :value="parachute" size="53px" :thickness="0.24" color="parachute" :min="0" :max="2" center-color="grey-10">
                        <q-icon name="fas fa-parachute-box" size="27px" color="white"/>
                    </div>
                    </transition>
                    <transition name="fade">
                    <div v-if="showEngine">
                        <q-circular-progress class="q-ml-xl" style="opacity: 40%;" :value="static" size="53px" :thickness="0.24" :style="{color: engineColor}" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="left: -50%;" show-value :value="engine" size="53px" :thickness="0.24" :style="{color: engineColor}" :min="0" :max="100" center-color="grey-10">
                        <q-icon style="top: -1px;" name="fas fa-oil-can" size="22px":style="{color: engineColor}"/>
                    </div>
                    </transition>
                    <transition name="fade">
                    <div v-if="showHarness">
                        <q-circular-progress class="q-ml-xl" style="opacity: 40%;" :value="static" size="53px" :thickness="0.24" color="harness" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="left: -50%;" show-value :value="hp" size="53px" :thickness="0.24" color="harness" :min="0" :max="100" center-color="grey-10">
                        <q-icon name="fas fa-user-slash" size="22px" color="white"/>
                    </div>
                    </transition>
                    <transition name="fade">
                    <div v-if="showCruise">
                        <q-circular-progress class="q-ml-xl" style="opacity: 40%;" :value="static" size="53px" :thickness="0.24" color="cruise" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="left: -50%;" show-value :value="speed" size="53px" :thickness="0.24" color="cruise" :min="0" :max="100" center-color="grey-10">
                        <q-icon name="fas fa-tachometer-alt-fast" size="22px" color="white"/>
                    </div>
                    </transition>
                    <transition name="fade">
                    <div v-if="showNos">
                        <q-circular-progress class="q-ml-xl" style="opacity: 40%;" :value="static" size="53px" :thickness="0.24" color="nos" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="left: -50%;" show-value :value="nos" size="53px" :thickness="0.24" color="nos" :min="0" :max="100" center-color="grey-10">
                        <q-icon name="fas fa-meteor" size="22px" :style="{color: nosColor}"/>
                    </div>
                    </transition>
                    <transition name="fade">
                    <div v-if="showDev">
                        <q-circular-progress class="q-ml-xl" style="opacity: 40%;" :value="static" size="53px" :thickness="0.24" color="dev" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="left: -50%;" show-value :value="static" size="53px" :thickness="0.24" color="dev" :min="0" :max="100" center-color="grey-10">
                        <q-icon name="fas fa-terminal" size="22px" color="white"/>
                    </div>
                    </transition>
                </div>
            </div>
            <div id="veh-container">
                <div v-show="show">
                    <div class="responsive" id="speedometer">
                        <q-circular-progress class="q-ml-xl" style="transform: rotate(-150deg); opacity: 60%;" :value="speedometer" size="70px" :thickness="0.21" color="gauge" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="transform: rotate(-150deg); left: -50%;" show-value :value="speed" size="70px" :thickness="0.21" color="gauge" :min="0" :max="600">
                        <speed>{{(speed)}}</speed>
                    </div>
                    <div class="responsive" id="fuelgauge">
                        <q-circular-progress class="q-ml-xl" style="transform: rotate(-125deg); opacity: 60%;" :value="fuelgauge" size="36px" :thickness="0.21" color="gauge" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="transform: rotate(-125deg); left: -50%;" show-value :value="fuel" size="36px" :thickness="0.21" :style="{color: fuelColor}">
                        <q-icon name="fas fa-gas-pump" style="transform: rotate(125deg);" size="14px" color="white"/>
                    </div>
                    <div class="responsive" id="altitudegauge" v-if="showAltitude">
                        <q-circular-progress class="q-ml-xl" style="transform: rotate(-135deg); opacity: 60%;" :value="altitudegauge" size="70px" :thickness="0.21" color="gauge" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="transform: rotate(-135deg); left: -50%;" show-value :value="altitude" size="70px" :thickness="0.21" color="gauge" :min="0" :max="750">
                        <altitude>{{(altitude)}}</altitude>
                    </div>
                    <transition name="fade">
                    <div class="responsive" id="seatbelt" v-if="showSeatbelt">
                        <q-circular-progress class="q-ml-xl" style="transform: rotate(-125deg); opacity: 60%;" size="70px" :thickness="0.21" color="gauge" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress class="q-ml-xl" style="transform: rotate(-125deg); left: -40%;" show-value size="70px" :thickness="0.21" color="gauge" :min="0" :max="750">
                        <q-icon name="fas fa-user-slash" style="transform: rotate(125deg);" :value="seatbelt" size="21px" :style="{color: seatbeltColor}"/>
                    </div>
                    </transition>
            <div class="border">
                <div class="square" v-if="showSquare">
            </div>
            <div class="border">
                <div class="circle" v-if="showCircle">
            </div>
        </div>
        </div>
    </body>
</html>
